@model Vinabook.Models.NhaXuatBan

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chỉnh sửa nhà xuất bản<hr /></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaNXB)

        <div class="form-group">
            @Html.LabelFor(model => model.TenNXB, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.TenNXB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenNXB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DienThoai, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="submit" value="Lưu" class="btn btn-warning" />
            </div>
        </div>
    </div>
}
@*<form id='input_form' method='post' class="form-horizontal">

    <fieldset>
        <div class="form-group">
            <label for="TenNXB" class="control-label col-md-3">Tên nhà xuất bản :</label>
            <div class="col-md-6">
                <input type="text" value="" name="TenNXB" id="TenNXB" size="25" class="required form-control" placeholder="Tên nhà xuât bản..." />
            </div>

        </div>
        <div class="form-group">
            <label for="DiaChi" class="control-label col-md-3">Địa chỉ :</label>
            <div class=" col-md-6">
                <input type="text" value="" name="DiaChi" id="DiaChi" size="25" class="required form-control" placeholder="Địa chỉ..." />
            </div>

        </div>
        <div class="form-group">
            <label for="DienThoai" class="control-label col-md-3">Điện thoại :</label>
            <div class="col-md-6">
                <input type="text" value="" name="DienThoai" id="DienThoai" size="25" class="required form-control" placeholder="Điện thoại..." />
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="submit" value="Lưu" class="btn btn-warning" />
            </div>
        </div>

    </fieldset>
</form>*@
<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
