@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<Vinabook.Models.Sach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Thêm mới sách", "ThemMoi")*@
    <a href="@Url.Action("ThemMoi")" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Thêm sách</a>
</p>
<div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <span class="text-primary">@Html.DisplayNameFor(model => model.First().MaSach)</span>
                </th>
                <th>
                    <span class="text-primary">@Html.DisplayNameFor(model => model.First().TenSach)</span>
                    
                </th>
                <th>
                    <span class="text-primary">@Html.DisplayNameFor(model => model.First().GiaBan)</span>
                    
                </th>
                <th>
                    <span class="text-primary">@Html.DisplayNameFor(model => model.First().MoTa)</span>
                   
                </th>
                <th>
                    <span class="text-primary">@Html.DisplayNameFor(model => model.First().NgayCapNhat)</span>
                   
                </th>
                <th>
                    <span class="text-primary">@Html.DisplayNameFor(model => model.First().AnhBia)</span>
                    
                </th>
                <th>
                    <span class="text-primary">@Html.DisplayNameFor(model => model.First().SoLuongTon)</span>
                   
                </th>
                <th>
                    <span class="text-primary">@Html.DisplayNameFor(model => model.First().MaChuDe)</span>
                    
                </th>
                <th>
                    <span class="text-primary">@Html.DisplayNameFor(model => model.First().MaNXB)</span>
                    
                </th>
                <th>
                    <span class="text-primary">@Html.DisplayNameFor(model => model.First().Moi)</span>
                   
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.MaSach)
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.TenSach)
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.GiaBan)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.MoTa)
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.NgayCapNhat)
                    </td>
                    <td class="col-md-1">
                        <div id="AnhBia">
                            <img src="@Url.Content("~/Content/HinhAnhSP/"+item.AnhBia)" class="img-responsive" />
                        </div>
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.SoLuongTon)
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.ChuDe.TenChuDe)
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.NhaXuatBan.TenNXB)
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.Moi)
                    </td>
                    <td class="col-md-1">
                        @*@Html.ActionLink("Chỉnh sửa", "ChinhSua", new { @MaSach = item.MaSach }) |
                            @Html.ActionLink("Hiển thị", "HienThi", new { @MaSach = item.MaSach }) |
                            @Html.ActionLink("Xoa", "Xoa", new { @MaSach = item.MaSach })*@

                        <a href="/QuanLySach/ChinhSua?MaSach=@item.MaSach" class="btn btn-warning btn-sm btn-color-primary"><i class="glyphicon glyphicon-edit"></i></a>
                        <br />
                        @*<a href="/QuanLySach/HienThi?MaSach=@item.MaSach" class="btn btn-primary btn-sm btn-color-primary"><i class="glyphicon glyphicon-eye-open"></i></a>*@
                        <a onclick="ChiTietSach('@item.MaSach')" class="btn btn-primary btn-sm btn-color-primary"><i class="glyphicon glyphicon-list-alt"></i></a>
                        <br />
                        <a href="/QuanLySach/Xoa?MaSach=@item.MaSach" class="btn btn-danger btn-sm btn-color-primary"><i class="glyphicon glyphicon-trash"></i></a>
                             
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

    @* Tạo link liên kết các trang*@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
        
    </style>
<script>
    
    function ChiTietSach(masach) {
            $.ajax({
                type: 'POST',
                url: '/QuanLySach/XemCTSach',
                data: {masach:masach},
                success: function (data) {
                    $.post(data.Url, function (partial) {
                        $("#All_Dialog").html(partial)
                    });
                }
            });
            $('#myModal').on('shown.bs.modal', function () {
                $(this).find('.modal-dialog').css({
                    width: '800px',
                    height: 'auto',
                    'max-height': '100%'
                });
            });
        $("#myModal").modal();
    }
</script>
@* đây là cái bảng dialog *@
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chi tiết sách</h4>
            </div>
            <div class="modal-body">
                @* nội dung bên trong all_dialog *@
                <div id="All_Dialog"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>