@model Vinabook.Models.Sach

@{
    ViewBag.Title = "ThemMoi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Thêm mới</h2>
@*Thêm thuộc tính cho form để upload ảnh*@
@using (Html.BeginForm("ThemMoi", "QuanLySach", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)



        <div class="form-group">
            <span class="control-label col-md-2"><strong>Tên sách(*)</strong></span>
                @*@Html.LabelFor(model => model.TenSach, new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSach)
                @Html.ValidationMessageFor(model => model.TenSach)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2"><strong>Giá bán(*)</strong></span>
            @*@Html.LabelFor(model => model.GiaBan, new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaBan)
                @Html.ValidationMessageFor(model => model.GiaBan)
            </div>
        </div>



        <div class="form-group">
            <span class="control-label col-md-2"><strong>Ngày cập nhật(*)</strong></span>
            @*@Html.LabelFor(model => model.NgayCapNhat, new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayCapNhat)
                @Html.ValidationMessageFor(model => model.NgayCapNhat)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2"><strong>Ảnh bìa(*)</strong></span>
            <div class="col-md-10">
                @*Name của thẻ input file phải trùng tên với tham số bên controller*@
                <input type="file" name="fileUpload">
                @*Thông báo trùng*@
                @ViewBag.ThongBao
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2"><strong>Số lượng tồn(*)</strong></span>
            @*@Html.LabelFor(model => model.SoLuongTon, new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuongTon)
                @Html.ValidationMessageFor(model => model.SoLuongTon)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2"><strong>Chủ đề(*)</strong></span>
            @*@Html.LabelFor(model => model.MaChuDe, new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("MaChuDe")

            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2"><strong>Nhà xuất bản(*)</strong></span>
            @*@Html.LabelFor(model => model.MaNXB, new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("MaNXB")

            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2"><strong>Mới(*)</strong></span>
            @*@Html.LabelFor(model => model.Moi, new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Moi)
                
                @*<select>
                    <option value="1">Mới</option>
                    <option value="0">Cũ</option>>
                </select>*@
                @Html.ValidationMessageFor(model => model.Moi)
            </div>
        </div>


        <div class="form-group">
            <span class="control-label col-md-2"><strong>Mô tả(*)</strong></span>
            @*@Html.LabelFor(model => model.MoTa, new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <textarea name="MoTa">Easy! You should check out MoxieManager!</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm mới" class="btn btn-success" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
