@model Vinabook.Models.Sach
@{
    ViewBag.Title = "Xoa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Bạn có thật sự muốn xóa quyển sách này?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhBia)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.AnhBia)*@
            <div class="fileinput fileinput-new" style="height:180px">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 180px">
                    <img src="@Url.Content("~/Content/HinhAnhSP/"+Model.AnhBia)">
                </div>
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChuDe.TenChuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuDe.TenChuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaXuatBan.TenNXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaXuatBan.TenNXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Moi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moi)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>


