@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<Vinabook.Models.Sach>
@{
    ViewBag.Title = "Sach";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <h3 class="section-title">Sách Mới</h3>
        <div class="col-lg-9">
            <div class="row">
               
                @Html.Partial("_Partial_1_Sach",Model)

                <div class="row">
                    <div class="col-md-12">
                        <div class="product-pagination text-center">

                            @* Tạo link liên kết các trang*@
                            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
                            <div class="MenuTrang">
                                @Html.PagedListPager(Model, page => Url.Action("Sach", new { page = page }))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
           @* Sach moi nhap ve*@
            @Html.Action("SachMoiNhapVe_Partial")
            @* sach moi nhap ve *@
           @Html.Action("SachGiamGia_Partial")
        </div>
    </div>


    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
