@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<Vinabook.Models.Sach>
@{
    ViewBag.Title = "Sach";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <h2 class="section-title">Sách mới</h2>
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="@Url.Content("/Content/HinhAnhSP/"+item.AnhBia)" alt="" width="195" height="243">
                        </div>
                        @*ten sach hien thi 2 dong *@
                        <div style="line-height:2em; height:4em;overflow:hidden; margin:0 0 0.5em 0">
                            <h2><a href="@Url.Action("XemChiTiet", new { @masach=item.MaSach })">@item.TenSach</a></h2>
                        </div>

                        <div class="product-carousel-price">
                            <ins>@string.Format("{0:0,0}", item.GiaBan) VNĐ</ins> <del>@string.Format("{0:0,0}", item.GiaBan + 10000)</del>
                        </div>

                        <div class="product-option-shop">
                            @*<a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">*@
                            @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMaSach = item.MaSach, @strUrl = Request.Url.ToString() }))
                            {
                                <input type="submit" value="Thêm vào giỏ " id="btnGioHang" class="btn btn-primary " />
                            }
                            @*</a>*@
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    @*<nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>*@
                    @* Tạo link liên kết các trang*@
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
                    <div class="MenuTrang">
                        @Html.PagedListPager(Model, page => Url.Action("Sach", new { page = page }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .MenuTrang li {
        display: inline;
    }
</style>

