@using Vinabook.Models;
@model List<Sach>

<div class="col-md-4">
    <div class="single-product-widget">
        <h2 class="product-wid-title">Sách phật giáo</h2>
        <a href="@Url.Action("SachTheoChuDe", new { @machude=ViewBag.MaChuDe })" class="wid-view-more">Xem tất cả</a>
        @foreach(var item in Model)
        { 
        <div class="single-wid-product">
            <a href="@Url.Action("XemChiTiet", new { @masach=item.MaSach })"><img src="@Url.Content("~/Content/HinhAnhSP/"+item.AnhBia)" alt="" class="product-thumb" /></a>
            <h2><a href="@Url.Action("XemChiTiet", new { @masach=item.MaSach })">@item.TenSach</a></h2>
            <div class="product-wid-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="product-wid-price">
                <ins>@string.Format("{0:0,0}", item.GiaBan) VNĐ</ins> <del>@string.Format("{0:0,0}", item.GiaBan + (10 * item.GiaBan / 100))</del>
            </div>
        </div>
        }
        
    </div>
</div>
