@using Vinabook.Models
@using PagedList.Mvc
@model PagedList.PagedList<Vinabook.Models.Sach>

@{
    ViewBag.Title = "SachTheoNhaXuatBan";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Tìm kiếm sách</h2>
                    <form action="">
                        <input type="text" placeholder="Search products...">
                        <input type="submit" value="Search">
                    </form>
                </div>

                @*San pham cung chu de*@
                @*@Html.Action("SachCungChuDePartial", "Sach")*@

                @Html.Action("DanhMucNhaXuatBanPartial","NhaXuatBan")
                @*@Html.Action("DanhMucNhaXuatBanPartial", "NhaXuatban")*@
            </div>

            <div class="col-md-9" >
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="@Url.Content("/Home/Index/")">Trang Chủ</a>
                        <a href="">@ViewBag.NhaXuatBan</a>
                        @*<a href="">@Model.TenSach</a>*@
                    </div>


                    <div class="single-product-area">
                        <div class="zigzag-bottom"></div>
                        <div class="">
                            <div class="row">
                                @foreach (var item in Model)
            {
                                    <div class="col-md-3 col-sm-6">
                                        <div class="single-shop-product">
                                            <div class="product-upper">
                                                <img src="@Url.Content("/Content/HinhAnhSP/"+item.AnhBia)" alt="" width="195" height="243">
                                            </div>
                                            @*ten sach hien thi 2 dong *@
                                            <div style="line-height:2em; height:4em;overflow:hidden; margin:0 0 0.5em 0">
                                                <h2><a href="@Url.Action("XemChiTiet", new { @masach=item.MaSach })">@item.TenSach</a></h2>
                                            </div>

                                            <div class="product-carousel-price">
                                                <ins>@string.Format("{0:0,0}", item.GiaBan) VNĐ</ins> <del>@string.Format("{0:0,0}", item.GiaBan + 10000)</del>
                                            </div>

                                            <div class="product-option-shop">

                                                @*@using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMaSach = item.MaSach, @strUrl = Request.Url.ToString() }))
                                                {
                                                    <input type="submit" onclick="AddToCart('@item.MaSach')" value="Thêm vào giỏ " id="btnGioHang" class="btn btn-primary " />
                                                }*@
                                                <input type="submit" onclick="AddToCart('@item.MaSach')" value="Thêm vào giỏ " id="btnGioHang" class="btn btn-primary " />
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (Model.Count == 0)
                                { <h3>Không có sách nào thuộc Nhà xuất bản này</h3>}
                            </div>


                        </div>
                    </div>



                    @*@Html.Action("SachGanDayPartial", "Sach")*@
                </div>
             
                    <div class="col-md-12">
                        <div class="product-pagination text-center">
                           
                            @* Tạo link liên kết các trang*@
                            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
                            <div class="MenuTrang">
                                @Html.PagedListPager(Model, page => Url.Action("Sach", new { page = page }))
                            </div>
                        </div>
                    </div>
             


            </div>
        </div>
    </div>
</div>



<style>
    .MenuTrang li {
        display: inline;
    }
</style>
