@using Vinabook.Models;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Vinabook Store</title>

    <!-- Google Fonts -->
    @*<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css' />*@
    <link href="~/Content/UserLayout/fonts/OleoScript.css" rel="stylesheet" />
    <link href="~/Content/UserLayout/fonts/PTSans.css" rel="stylesheet" />
    <link href="~/Content/UserLayout/fonts/TitilliumWeb.css" rel="stylesheet" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/UserLayout/css/bootstrap.min.css" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/UserLayout/css/font-awesome.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/UserLayout/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/Content/UserLayout/css/style.css" />
    <link rel="stylesheet" href="~/Content/UserLayout/css/responsive.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Ajax Process-->
    <script>



        function AddToCart(MaSach) {
            //lay controller kiem tra  dang trong gio hang k
            var ktController = '@ViewContext.RouteData.Values["Controller"].ToString()';
            var ChiTietSoLuong = 0;
            if (document.getElementById("chiTietSl") != null)
                ChiTietSoLuong = document.getElementById("chiTietSl").value;
            else
                ChiTietSoLuong = 1;
            //alert(ChiTietSoLuong);

            $.ajax({
                type: 'POST',
                url: '/Sach/AddToCart',
                data: { id: MaSach, chiTietSl: ChiTietSoLuong },
                success: function (data) {

                    $("#Cart_Amount").html(data.ItemAmount);

                    if (ktController == "GioHang")//kiem tra dang trong gio hang thi cap nhat
                        capNhatGiohang();
                }
            });
        }
        function capNhatGiohang() {
            $.ajax({
                type: 'POST',
                url: '/GioHang/CapNhat',
                data: { id: -1, sl: 0 },
                success: function (data) {
                    $("#Cart_Amount").html(data.sl);
                    $.post(data.Url, function (partial) {
                        $("#GioHang").html(partial);
                        //AddToCart(-1);
                        $("#TongTien").attr("style", "color:red");
                        setTimeout(function () {
                            $("#TongTien").attr("style", "color:black");
                        }, 600);
                    });
                }
            });

        }

        function HoTro(ktdangnhap) {
            if (ktdangnhap == 1) {
                // alert('chua dang nhap');
            }
            else {
                // alert('dang nhap r');
                $.ajax({
                    type: 'POST',
                    url: '/Home/HoTro',
                    data: {},
                    success: function (data) {
                        $.post(data.Url, function (partial) {
                            $("#All_Dialog").html(partial)
                        });
                    }
                });
            }
            $("#myModal").modal();
        }
        function HoTroDetials(maDonHang) {
            $.ajax({
                type: 'POST',
                url: '/Home/HoTroDetails',
                data: { MaDonHang: maDonHang },
                success: function (data) {
                    $.post(data.Url, function (partial) {
                        $("#All_Dialog").html(partial)
                    });
                }
            });
        }
        var madh, sdt;
        function get() {
            debugger;
            madh = document.getElementById("maDonHang_Dialog").value;
            sdt = document.getElementById("soDienThoai_Dialog").value;
            //xoa khoang trang
            var s = madh.replace(/\s+/g, '').length;
            var sx = sdt.replace(/\s+/g, '').length;;
            if (s == 0 && sx == 0) {
                alert('Bạn chưa nhập dữ liệu!');
            }
            else
                Check();
        }
        //goi check trong _Partial_Body_Dialog
        function Check() {
            debugger;
            $.ajax({
                type: 'POST',
                url: '/Home/Check',
                data: { MaDH:madh,Sdt:sdt},
                success: function (data) {
                    $.post(data.Url, function (partial) {
                        $("#All_Dialog").html(partial)
                    });
                }
            });
        }
        function TroVe() {
            $.ajax({
                type: 'POST',
                url: '/Home/TroVe',
                data: { },
                success: function (data) {
                    $.post(data.Url, function (partial) {
                        $("#All_Dialog").html(partial)
                        madh = null;
                        sdt = null;
                    });
                }
            });
        }
    </script>
    <!--End Ajax Process-->

</head>
<body>

    @* Hỗ trợ Ho Tro *@

    @{ int i = 0;string tenkh = "Bạn";}
    @if (Session["TaiKhoan"] == null || Session["TaiKhoan"].ToString().Trim() == "")
    {
        i = 1;

    }
    else
    {
        KhachHang kh = Session["TaiKhoan"] as KhachHang;
        tenkh = kh.TaiKhoan;
    }
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog text-center">

            <!-- Modal content-->
            <div class="modal-content" @*style="width:130%"*@>
                <div class="zoomhover" style="position:absolute;right:15px;top:80px;color:white"><i class="fa fa-smile-o "></i> Chào @tenkh !</div>
                <div class="modal-header" style="padding:30px 30px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="" id="headerDialog"><span class="glyphicon glyphicon-user"></span> Hỗ trợ</h4>
                </div>
                <div class="modal-body">

                    @Html.Partial("_Partial_Body_Dialog")
                </div>
                <div class="modal-footer">

                    <div class="col-md-3 hover">
                        <a>
                            <img src="~/Content/HinhAnh/logo_fb.png" /> FaceBook
                        </a>
                    </div>
                    <div class="col-md-3 hover">
                        <a>
                            <img src="~/Content/HinhAnh/icon_google_plus.png" />Google Plus
                        </a>
                    </div>
                    <div class="col-md-3 hover">
                        <a>
                            <img src="~/Content/HinhAnh/icon_twitter.png" /> Twitter
                        </a>
                    </div>
                    <div class="col-md-3 hover">
                        <a>
                            <img src="~/Content/HinhAnh/icon_printerest.png" />Printerest
                        </a>
                    </div>
                    @*<button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        <p>Not a member? <a href="#">Sign Up</a></p>
                        <p>Forgot <a href="#">Password?</a></p>*@
                </div>


            </div>
        </div>
    </div>

    @* header *@
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">
                        <ul>
                            <li><a class="zoomhover" href="#"><i class="fa fa-user"></i> Vinabook.com</a></li>
                            <li><a class="zoomhover" href="#"><i class="fa fa-heart"></i> Danh sách yêu thích</a></li>
                            <li><a class="zoomhover" href="#"><i class="fa fa-user"></i> Giỏ hàng ()</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="header-right">
                        <ul class="list-unstyled list-inline">
                            @if (Session["TaiKhoan"] == null || Session["TaiKhoan"].ToString().Trim() == "")//!User.Identity.IsAuthenticated)
                            {
                                <li class="dropdown dropdown-small">
                                    <a class="zoomhover" href="@Url.Action("Login", "NguoiDung")"><span class="key "><i class="fa fa-user"></i>  Đăng nhập</span></a>
                                </li>
                                <li class="dropdown dropdown-small">
                                    <a class="zoomhover" href="@Url.Action("Register", "NguoiDung")"><span class="key "><i class="fa fa-user"></i>  Đăng ký</span></a>
                                </li>
                            }
                            else
                            {
                                KhachHang kh = Session["TaiKhoan"] as KhachHang;
                                <li class="dropdown dropdown-small">
                                    <a class="zoomhover"><span class="key"><i class="fa fa-user "></i>  Xin chào: @kh.TaiKhoan @*@User.Identity.Name*@</span></a>
                                </li>

                                <li class="dropdown dropdown-small">
                                    <a class="zoomhover" href="@Url.Action("Logout", "NguoiDung", new { urlString = Request.Url.OriginalString })"><span class="key"><i class="fa fa-sign-out "></i>  Log out</span></a>
                                </li>


                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End header area -->

    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a href="./"><img src="~/Content/UserLayout/img/logo.png" /></a></h1>
                    </div>
                </div>


            </div>
        </div>
    </div> <!-- End site branding area -->
    @* menu chính *@
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <nav class=" ">
                    <div class="container-fluid">

                        <div>
                            <ul class="nav navbar-nav">
                                <li class="active "><a href="@Url.Content("/Home/Index/")"><is class="fa fa-home fa-1x zoomhover"></is></a></li>
                                <li><a href="@Url.Content("/Sach/Sach")">  Sách</a></li>
                                <li><a href="@Url.Content("/Sach/SachTheoChuDe")">Chủ Đề</a></li>
                                <li><a href="@Url.Content("/Sach/SachTheoNhaXuatBan")">Nhà Phát Hành</a></li>
                                <li><a href="@Url.Content("/Sach/SachTheoTacGia")">Tác Giả</a></li>
                                <li><a href="#">Liên hệ</a></li>

                                <li class="hover"><a onclick="HoTro('@i')">Hỗ Trợ</a></li>
                                <li style="cursor:pointer">@Html.Action("GioHangPartial", "GioHang")</li>
                                <li>
                                    <div class="single-sidebar">
                                        <form action="/TimKiem/Index" method="post">
                                            <input id="txtTimKiem" name="txtTimKiem" style="float:left;margin-top:10px;margin-left:20px;margin-right:10px;width:auto" type="text" placeholder="Tìm Sách, NXB, CĐ...">
                                            <input @*onclick="Search('1')"*@ class="zoomhover" style="outline:none;background-color:transparent;background-image:url('/content/HinhAnh/toolbar_find.png');background-size:contain;background-repeat:no-repeat; position:absolute; top:20px;left:180px; width:10px; height:10px; " type="submit" />

                                        </form>
                                    </div>

                                </li>

                            </ul>
                        </div>
                    </div>
                </nav>

                @*-----------------------------------*@
                @*<div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.Content("/Home/Index/")">Trang Chủ</a></li>
                            <li><a href="@Url.Content("/Sach/Sach")">Sách mới</a></li>
                            <li><a href="@Url.Content("/Sach/SachTheoChuDe")">Sách theo chủ đề</a></li>
                            <li><a href="@Url.Content("/Sach/SachTheoNhaXuatBan")">Sách theo nhà xuất bản</a></li>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Khác</a></li>
                            <li>@Html.Action("GioHangPartial", "GioHang")</li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div> <!-- End mainmenu area -->

    <div class="slider-area">
        <!-- Slider -->
        <div class="block-slider block-slider4">
            <ul class="" id="bxslider-home4">
                <li>
                    <img src="~/Content/UserLayout/img/h4-slide.png" alt="Slide" />
                    <div class="caption-group">
                        <h2 class="caption title">
                            Hồng <span class="primary"> <strong>Nhan</strong></span>
                        </h2>
                        <h4 class="caption subtitle">Nguyễn Mai Dung</h4>
                        <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                    </div>
                </li>
                <li>
                    <img src="~/Content/UserLayout/img/h4-slide2.png" alt="Slide">
                    <div class="caption-group">
                        <h2 class="caption title">
                            iPhone <span class="primary">6 <strong>Plus</strong></span>
                        </h2>
                        <h4 class="caption subtitle">Dual SIM</h4>
                        <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                    </div>
                </li>

                @*<li>
                        <img src="~/Content/UserLayout/img/h4-slide2.png" alt="Slide" />
                        <div class="caption-group">
                            <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                        </div>
                    </li>
                    <li>
                        <img src="~/Content/UserLayout/img/h4-slide3.png" alt="Slide" />
                        <div class="caption-group">
                            <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                        </div>
                    </li>
                    <li>
                        <img src="~/Content/UserLayout/img/h4-slide4.png" alt="Slide" />
                        <div class="caption-group">
                            <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                        </div>
                    </li>*@
            </ul>
        </div>
        <!-- ./Slider -->
    </div> <!-- End slider area -->
    @RenderBody()


    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2>Vina<span>Book</span></h2>
                        <p>Vinabook.com ra đời vào tháng 12/2010 với hình thức kinh doanh Mua hàng online – Giao hàng tận nơi. Với mô hình nhà sách trên mạng, cho phép độc giả dễ dàng tìm sách & mua sách online. Đến nay Vinabook.com đã có hơn 70,000 đầu sách phục vụ cho độc giả cả nước. Chỉ cần truy cập website Vinabook.com và mua sách qua mạng, quý khách sẽ được giao sách tới tận nơi miễn phí khi đặt đơn hàng từ 90,000đ trong phạm vi Tp. Hồ Chí Minh & từ 180,000đ đối các tỉnh / thành phố khác.</p>
                        <div class="footer-social">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Facebook </h2>
                        @*<ul>
                            <li><a href="#">My account</a></li>
                            <li><a href="#">Order history</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Vendor contact</a></li>
                            <li><a href="#">Front page</a></li>
                        </ul>*@
                        <div class="fb-page" data-href="https://www.facebook.com/Vinabook" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/Vinabook"><a href="https://www.facebook.com/Vinabook">Vinabook</a></blockquote></div></div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Google Plus</h2>
                        @*<ul>
                            <li><a href="#">Mobile Phone</a></li>
                            <li><a href="#">Home accesseries</a></li>
                            <li><a href="#">LED TV</a></li>
                            <li><a href="#">Computer</a></li>
                            <li><a href="#">Gadets</a></li>
                        </ul>*@
                        <!-- Place this tag in your head or just before your close body tag. -->
                        <script src="https://apis.google.com/js/platform.js" async defer></script>

                        <!-- Place this tag where you want the widget to render. -->
                        <div class="g-person" data-width="260" data-href="//plus.google.com/u/0/105293475338510472690" data-rel="author"></div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-newsletter">
                        <h2 class="footer-wid-title">Đăng ký nhận email</h2>
                        <p>Đăng ký nhận thông tin sách mới,
sách bán chạy và khuyến mãi từ Vinabook</p>
                        <div class="newsletter-form">
                            <form action="#">
                                <input type="email" placeholder="Nhập địa chỉ email của bạn" />
                                <input type="submit" value="Đăng ký" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer top area -->

    <div class="footer-bottom-area ">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; 2015 uCommerce. All Rights Reserved. <a href="http://www.vinabook.com" target="_blank">vinabook.com</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer bottom area -->
    <!-- Latest jQuery form server -->
    @*<script src="https://code.jquery.com/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap JS form CDN -->
    @*<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- jQuery sticky menu -->
    <script src="~/Content/UserLayout/js/owl.carousel.min.js"></script>
    <script src="~/Content/UserLayout/js/jquery.sticky.js"></script>

    <!-- jQuery easing -->
    <script src="~/Content/UserLayout/js/jquery.easing.1.3.min.js"></script>

    <!-- Main Script -->
    <script src="~/Content/UserLayout/js/main.js"></script>

    <!-- Slider -->
    <script type="text/javascript" src="~/Content/UserLayout/js/bxslider.min.js"></script>
    <script type="text/javascript" src="~/Content/UserLayout/js/script.slider.js"></script>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=810732255672019";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>

<style>
    .zoomhover {
        -moz-transition: -moz-transform 0.2s ease-in;
        -webkit-transition: -webkit-transform 0.2s ease-in;
        -o-transition: -o-transform 0.2s ease-in;
    }

        .zoomhover:hover {
            -moz-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            -o-transform: scale(1.5);
        }

    .margin-t {
        margin-top: 10px;
    }

    .margin-b {
        margin-bottom: 10px;
    }

    .pad-t {
        padding-top: 10px;
    }

    ul {
        list-style: none;
        padding: 0;
        display: inline;
    }

    .no-under a:hover {
        text-decoration: none;
    }

    .modal-header, #headerDialog {
        background-color: #5cb85c;
        color: white !important;
        text-align: center;
        font-size: 30px;
    }

    .modal-footer {
        background-color: #f9f9f9;
    }

    .hover a:hover {
        cursor: pointer;
    }

    .modal-dialog {
        width: 60%;
        height: 100%;
    }

    /*.modal-content {
        height: 100%;
        border-radius: 0;
        color: white;
        overflow: auto;
    }*/
</style>
