@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<Vinabook.Models.DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MaDonHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NgayGiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NgayDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DaThanhToan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TinhTrangGiaoHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().KhachHang.HoTen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaDonHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayGiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaThanhToan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrangGiaoHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.HoTen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { @madh = item.MaDonHang }) |
            @Html.ActionLink("Details", "Details", new { @madh = item.MaDonHang }) |
            @Html.ActionLink("Delete", "Delete", new { @MaDH = item.MaDonHang }) |
            @Html.ActionLink("Xem chi tiết đơn hàng", "XemCTDH", new { @madh = item.MaDonHang})
        </td>
    </tr>
}

</table>
@* Tạo link liên kết các trang*@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<div class="ExportSection">
    @Html.ActionLink("Export to Excel", "ExportClientsListToExcel")
</div>