@using Vinabook.Models;
@model List<ChiTietDonHang>
@{
    ViewBag.Title = "XemCTDH";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>XemCTDH</h2>

<div>
    <h4>ChiTietDonHang</h4>
    <hr />
    @foreach(var item in Model)
    { 
    <dl class="dl-horizontal">
        <dt>
            Số lượng:
        </dt>

        <dd>
            @item.SoLuong
        </dd>

        <dt>
            Đơn giá:
        </dt>

        <dd>
            @item.DonGia
        </dd>

        <dt>
            Mã đơn hàng:
        </dt>
            
        <dd>
            @item.MaDonHang
        </dd>

        <dt>
            Mã sách:
        </dt>

        <dd>
            @item.MaSach
        </dd>

        <dt>
            Tên sách:
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.Sach.TenSach)
        </dd>
    </dl>
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
