@using Vinabook.Models;
@model List<ChiTietDonHang>

<table class="table table-bordered table-hover table-condensed table-striped">
    <thead>
        <tr>
            <th>Mã đơn hàng:</th>
            <th>Số lượng:</th>
            <th>Đơn giá:</th>
            <th>Mã đơn hàng:</th>
            <th>Mã sách:</th>
            <th>Tên sách:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaDonHang</td>
                <td>@item.SoLuong</td>
                <td>@item.DonGia</td>
                <td>@item.MaDonHang</td>
                <td>@item.MaSach</td>
                <td>@Html.DisplayFor(modelItem => item.Sach.TenSach)</td>
            </tr>
        }
    </tbody>
</table>