@using Vinabook.Models;
@model List<ChiTietDonHang>
@{
    ViewBag.Title = "XemCTDH";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>XemCTDH</h2>

<div>
    <h4>ChiTietDonHang</h4>
    <hr />
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Chi tiết đơn hàng</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Mã đơn hàng:</th>
                                <th>Số lượng:</th>
                                <th>Đơn giá:</th>
                                <th>Mã đơn hàng:</th>
                                <th>Mã sách:</th>
                                <th>Tên sách:</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MaDonHang</td>
                                    <td>@item.SoLuong</td>
                                    <td>@item.DonGia</td>
                                    <td>@item.MaDonHang</td>
                                    <td>@item.MaSach</td>
                                    <td>@Html.DisplayFor(modelItem => item.Sach.TenSach)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
