@model Vinabook.Models.ChuDe

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Thêm chủ đề <hr /></h2>

@*@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Chủ đề</h4>
        @ViewBag.ThongBao
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.TenChuDe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.TenChuDe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenChuDe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}*@
<form id='input_form' method='post' class="form-horizontal">

    <fieldset>
        <div class="form-group">
            <label for="TenChuDe" class="control-label col-md-3">Tên nhà xuất bản :</label>
            <div class="col-md-6">
                <input type="text" value="" name="TenChuDe" id="TenChuDe" size="25" class="required form-control" placeholder="Tên chủ đề..." autofocus />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="submit" value="Thêm" class="btn btn-success" />
                <input type="reset" value="Điền lại" class="btn btn-default" />
            </div>
        </div>

    </fieldset>
</form>
<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
