@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<Vinabook.Models.ChuDe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().TenChuDe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenChuDe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { @MaCD=item.MaChuDe }) |
            @Html.ActionLink("Details", "Details", new { @MaCD = item.MaChuDe }) |
            @Html.ActionLink("Delete", "Delete", new { @MaCD = item.MaChuDe })
        </td>
    </tr>
}

</table>
@* Tạo link liên kết các trang*@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>