@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<Vinabook.Models.ChuDe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <span class="text-primary">@Html.DisplayNameFor(model => model.First().MaChuDe)</span>

                </th>
                <th>
                    <span class="text-primary">@Html.DisplayNameFor(model => model.First().TenChuDe)</span>
                </th>
                <th>
                    <span class="text-primary">Sửa</span>
                </th>
                <th>
                    <span class="text-primary">Chi Tiết</span>
                </th>
                <th>
                    <span class="text-primary">Xóa</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaChuDe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenChuDe)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { @MaCD = item.MaChuDe })" class="btn btn-warning btn-sm btn-color-primary">
                            <i class="glyphicon glyphicon-pencil"></i>
                            <span class="sr-only">Edit</span>
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Details", new { @MaCD = item.MaChuDe })" class="btn btn-primary btn-sm btn-color-primary">
                            <i class="glyphicon glyphicon-eye-open"></i>
                            <span class="sr-only">Details</span>
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Delete", new { @MaCD = item.MaChuDe })" class="btn btn-danger btn-sm btn-color-primary">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span class="sr-only">Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@* Tạo link liên kết các trang*@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
